<!--<section class="cadastro height-min pb-5 pt-5">-->
<section class="container-xl height-min d-flex align-items-center">  
    <div class="formulario d-flex flex-column justify-content-center col-md-5">
        <div class="mb-5 mt-5">
            <h2 class="formulario-titulo text-center">Preencha o formulário</h2>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-12" [class.has-error]="!nome.valid && nome.touched">
                <label class="formulario-label" for="nome">Nome Completo</label>
                <input type="text" class="form-control formulario-input" id="nome" placeholder="Digite seu nome completo" [(ngModel)]="usuario.nome" required #nome="ngModel">
                <div class="alert alert-danger mt-2" *ngIf="!nome.valid && nome.touched">
                    Nome é obrigatório
                </div>
            </div>
    
            <div class="form-group col-md-12">
                <label class="formulario-label" for="email">E-mail</label>
                <input type="text" class="form-control formulario-input" id="email" placeholder="Digite seu e-mail" [(ngModel)]="usuario.email" required #email="ngModel">
                <div class="alert alert-danger mt-2" *ngIf="!email.valid && email.touched">
                    E-mail é obrigatório
                </div>
            </div>
    
            <div class="form-group col-md-12">
                <label class="formulario-label" for="senha">Senha</label>
                <input type="password" class="form-control formulario-input" id="senha" placeholder="Digite sua senha" [(ngModel)]="usuario.senha" required #senha="ngModel">
                <span class="olho"></span>
                <div class="alert alert-danger mt-2" *ngIf="!senha.valid && senha.touched">
                    Senha é obrigatório
                </div>
            </div>
    
            <div class="form-group col-md-12">
                <label class="formulario-label" for="confirma-senha">Confirmar Senha</label>
                <input type="password" class="form-control formulario-input" id="confirma-senha" placeholder="Confirme sua senha" [(ngModel)]="confirmaSenha" required #confirma="ngModel">
                <div class="alert alert-danger mt-2" *ngIf="!confirma.valid && confirma.touched">
                    Confirmar Senha é obrigatório
                </div>
                <div class="alert alert-danger mt-2" *ngIf="confirma.value != senha.value && confirma.touched">
                    As senhas não correspondem
                </div>
            </div>
            
            <div class="btn-confirmar mb-5 mt-5 col-md-12 d-flex justify-content-center">
                <button type="button" class="btn-sustenta col-md-6" (click)="validaSenha()">Cadastrar</button>
            </div>
        </div>
    </div>
</section>