/* ESTILIZAÇÃO CARROSEL */

.carrossel {
    width: 100%;
    height: 500px;
}

.carrossel-imagens > div {
    width: 100%;
    height: 500px;
}

.carrossel-imagens > div:nth-of-type(1) {
    background-image: url('../../assets/images/sustentabilidade-one.jpg');
    background-size: cover;
}

.carrossel-imagens > div:nth-of-type(2) {
    background-image: url('../../assets/images/sustentabilidade-dois.png');
    background-size: 100% auto;
    background-position: 100% 35%;
}

.carrossel-imagens > div:nth-of-type(3) {
    background-image: url('../../assets/images/sustentabilidade-tres.jpg');
    background-size: cover;
}

.carrossel-imagens-texto {
    margin-left: 85px;
    width: 500px;
}

.carrossel-imagens-texto > p {
    color: #658726;
    font-family: 'Courgette', cursive;
    font-size: 30pt;
    text-align: center;
}

/* ESTILIZAÇÃO DOS CARDS */

.produtos {
    height: 500px;
    width: 100%;
}

swiper {
    height: 90%;
    width: 90%;
}

.produtos-card {
    height: 50%;
    width: 100%;
}

.produtos-card img {
    height: 100%;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: #8BBA34;
}

/* Estilização da newsletter */

.newsletter {
    background-color: #8BBA34;
    height: 200px;
    width: 100%;
}

.newsletter-titulo {
    color: #FFF;
}

.newsletter-campos > input,
.newsletter-campos > button {
    height: 45px;
}

.newsletter-campos {
    width: 60%;
}

.newsletter-campos > input {
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    width: 50%;
}

.newsletter-campos > button {
    padding: 10px;
    width: 80px;
}

.newsletter-btn {
    background-color: #FFF;
    border-radius: 5px;
}

/* ESTILIZAÇÃO DAS DICAS */

.dicas {
    height: 500px;
    width: 100%;
}

.dicas-um,
.dicas-dois {
    height: 400px;
    width: 30%;
    background-color: #8BBA34;
    opacity: .8;
}

.dicas-um {
    border-radius: 50px 0 50px 0;
}

.dicas-dois {
    border-radius: 0 50px 0 50px;
}

.dicas-um > p,
.dicas-dois > p {
    color: #FFF;
    font-size: 19px;

    text-align: justify;
}

.dicas-um > p > a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 425px){
    .carrossel {
        height: 200px;
    }

    .carrossel-imagens > div {
        width: 100%;
        height: 200px;
    }

    .carrossel-imagens > div:nth-of-type(1) {
        background-size: cover;
    }
    
    .carrossel-imagens > div:nth-of-type(2) {
        background-size: 100% auto;
        background-position: 100% 35%;
    }
    
    .carrossel-imagens > div:nth-of-type(3) {
        background-size: cover;
    }
    
    .carrossel-imagens-texto {
        margin-left: 35px;
        width: 200px;
    }

    .carrossel-imagens-texto > p {
        font-size: 13pt;
        text-align: center;
    }

    .carrossel-imagens .carrossel-imagens-texto:nth-of-type(2) {
        align-items: baseline;
        padding: 0;
    }
}