<!-- usado bootstrap para o layaut e estilização  -->
<header class="container-fluid py-3 px-4 menu mb-1">
    <nav class="navbar navbar-expand-lg text-light bg-light rounded-lg px-5 w-100 d-flex justify-content-between">
        <!-- menu hamburguer no button-->
        <button class="hamburguer navbar-toggler " type="button" data-toggle="collapse"
            data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
            aria-label="Alterna navegação">
            <!-- ícone do menu hamburguer -->
            <fa-icon [icon]="faWater"></fa-icon>
        </button>
        <!-- logo com hover no css para mudar de cor -->
        <a class="logo navbar-brand ml-5 " routerLink='/home'></a>

        <!-- div para ocultar quando menu hamburguer estiver ativo -->
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <div class=" w-100 d-flex  justify-content-center">
                <div class="navbar-nav w-100 d-flex justify-content-around align-items-center">

                    <a class="list outnone nav-link p-3" routerLink='produtos'>Produtos</a>

                    <a class="list outnone nav-link p-3 text-center" routerLink='sobre'>Sobre a Empresa</a>

                    <a class="list outnone nav-link p-3" routerLink='contato'>Contato</a>
                    <div class="botoes-menu d-flex align-items-center" id="botoes-menu">
                        <!-- Se não houver usuario logado esse *ngIf retornará true e assim mostrará os botões de Login e Cadastre-se -->
                        <div *ngIf="auth.btnLogin()">
                            <button class="btn-sustenta mr-2 " type="button" routerLink="login">Login</button>
                            <button class="btn-sustenta mx-2 " type="button" routerLink="cadastro">Cadastre-se</button>
                        </div>
                        <!-- Se houver usuario logado esse *ngIf retornará true e assim mostrará o botão de sair -->
                        
                        
                        <div class="dropdown" *ngIf="auth.btnSairAdmin()">
                            <button class="btn-sustenta ml-2 dropdown-toggle" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, {{ nameUser }}</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" routerLink="/cadastrar-produto">Cadastrar produto</a>
                                <a class="dropdown-item" routerLink="/lista-usuarios">Usuários cadastrados</a>
                                <a class="dropdown-item" (click)="sair()">Sair</a>
                            </div>
                        </div>
                        <div class="dropdown" *ngIf="auth.btnSair()">
                            <button class="btn-sustenta ml-2 dropdown-toggle" type="button"  id="dropdownMenuButtonDois" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, {{ nome }}</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDois">
                                <a class="dropdown-item" (click)="sair()">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>