footer {
    max-width: 100vw;
}

.linha1{
    background-color: #8BBA34;
}

.linha2{
    background-color:  #8BBA34;      
}
.linha3{
    background-color: #FFF;
    height: 300px;
    width: 95%;
}

.logo{
    background-image: url("../../assets/logos/logo_aberto_preto.png");

    min-height: 67px;
    min-width: 200px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
.logo:hover{
    background-image: url("../../assets/logos/logo_aberto_verde.png");

    min-height: 67px;
    min-width: 200px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.linha3 a,
.linha3 p,
.footer-copyright {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: rgba(0,0,0,.7);
}

.linha3 a:hover {
    color: #658726;
}

.linha3 h3 {
    color: #658726;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 16px;
}

.redes-sociais a:nth-of-type(1):hover {
    color: rgb(225,48,108);
}

.redes-sociais a:nth-of-type(2):hover {
    color: #45619d;
}

.redes-sociais a:nth-of-type(3):hover {
    color:rgb(29, 161, 242);
}

.formas-pagamento {
    width: 25%;
}

.formas-pagamento div {
    width: 100%;
    height: 150px;
}

.formas-pagamento div {
    background-image: url("../../assets/images/formas-pagamento.png");
    background-size: cover;
}