<footer>

    <div class="linha1 pt-5">



        <div class="d-flex justify-content-center">

            <div class="linha3 p-3 rounded-left d-flex justify-content-around">
                <div class="d-flex">
                    <a class="logo my-auto navbar-brand mx-auto" routerLink='/home'></a>
                </div>
                <div>
                    <h3>Instucional</h3>
                    <a class="nav-link" routerLink='home'>Home</a>
                    <a class="nav-link" routerLink='produtos'>Produtos</a>
                    <a class="nav-link" routerLink='sobre'>Sobre nós</a>
                </div>

                <div>
                    <h3>Institucional</h3>
                    <a class="nav-link" routerLink='faq'>FAQ</a>
                    <a class="nav-link" routerLink='contato'>Contato</a>
                    <a class="nav-link" routerLink='politica'>Política de Troca e Devolução</a>
                </div>

                <div class="formas-pagamento">
                    <h3 class="text-center">Formas de pagamento</h3>
                    <div>
                    </div>
                </div>

                <div class="redes-sociais">
                    <h3>Acompanhe</h3>
                    <div class="d-flex justify-content-around">
                        <a href="https://www.instagram.com/" target="_blank">
                            <fa-icon [icon]="faInstagram" class="fa-2x"></fa-icon>
                        </a>

                        <a href="https://www.facebook.com/" class="ml-2 mr-2" target="_blank">
                            <fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon>
                        </a>

                        <a href="https://twitter.com/explore" target="_blank">
                            <fa-icon [icon]="faTwitter" class="fa-2x"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="linha2 w-100 row justify-content-md-center mx-0 p-1">
        <div class="col-12 footer-copyright text-center py-2 ">
            <span class="text-dark"> © 2020 Copyright - </span>
            <a class="text-dark" href="https://brasil.generation.org" target="blank">brasil.generation.org</a>
        </div>
    </div>
</footer>