<footer>

    <div class="linha1 pt-5">



        <div class="d-flex justify-content-center">

            <div class="linha3 p-3 rounded-left d-flex justify-content-around">
                <div class="d-flex">
                    <a class="logo my-auto navbar-brand mx-auto" routerLink='/home'></a>
                </div>
                <div>
                    <h3>Instucional</h3>
                    <a class="nav-link" routerLink='home'>Home</a>
                    <a class="nav-link" routerLink='produtos'>Produtos</a>
                    <a class="nav-link" routerLink='sobre'>Sobre nós</a>
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Conheça a
                        Equipe</a>
                </div>

                <div>
                    <h3>Institucional</h3>
                    <a class="nav-link" routerLink='faq'>FAQ</a>
                    <a class="nav-link" routerLink='contato'>Contato</a>
                    <a class="nav-link" routerLink='politica'>Política de Troca e Devolução</a>
                </div>

                <div class="formas-pagamento">
                    <h3 class="text-center">Formas de pagamento</h3>
                    <div>
                    </div>
                </div>

                <div class="redes-sociais">
                    <h3>Acompanhe</h3>
                    <div class="d-flex justify-content-around">
                        <a href="https://www.instagram.com/" target="_blank">
                            <fa-icon [icon]="faInstagram" class="fa-2x"></fa-icon>
                        </a>

                        <a href="https://www.facebook.com/" class="ml-2 mr-2" target="_blank">
                            <fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon>
                        </a>

                        <a href="https://twitter.com/explore" target="_blank">
                            <fa-icon [icon]="faTwitter" class="fa-2x"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="linha2 w-100 row justify-content-md-center mx-0 p-1">
        <div class="col-12 footer-copyright text-center py-2 ">
            <span class="text-dark"> © 2020 Copyright - </span>
            <a class="text-dark" href="https://brasil.generation.org" target="blank">brasil.generation.org</a>
        </div>
    </div>




    <!-- Modal Equipe-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header  justify-content-center">
                    <h5 class="modal-title" id="exampleModalCenterTitle">A EQUIPE SUSTENTA+</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 d-flex align-items-center">
                                    <span class="equipeEstevamboccuggi my-auto rounded-lg"></span>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Estevam Boccuggi Junior
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Desenvolvedor fullstack java jr, formado pela Generation e desde pequeno sou
                                    apaixonado por tecnologia, pois esta área me proporcionou conquistar muitos sonhos,
                                    e um deles foi superar os meus limites. Sou persistente, comunicativo, dedicado e
                                    amante do aprendizado.

                                    <div class="d-flex justify-content-around">
                                        <a href="https://br.linkedin.com/in/estevam-boccuggi-junior-71a048123"
                                            target="_blank">
                                            <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                                        </a>

                                        <a href="https://github.com/Estevamboccuggi" target="_blank">
                                            <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0 d-flex align-items-center">
                                    <span class="equipeRafaela1997 my-auto rounded-lg"></span>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Rafaela Ramos Santana
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Desenvolvedora jr formada pela Generation Brasil e pela Reprograma. Em busca de uma
                                    colocação profissional na área de tecnologia com
                                    o objetivo de aplicar e desenvolver as minhas habilidades.

                                    <div class="d-flex justify-content-around">
                                        <a href="https://www.linkedin.com/in/rafaela-ramos-santana" target="_blank">
                                            <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                                        </a>

                                        <a href="https://github.com/Rafaela1997" target="_blank">
                                            <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0 d-flex align-items-center">
                                    <span class="equipeCleiton7 my-auto rounded-lg"></span>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Cleiton Souza Andrade
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Desenvolvedor Web Java Jr formado pela Generation Brasil, cursou dois anos de
                                    Análise de Sistemas onde se identificou com a área de desenvolvimento de software.
                                    Natural de Souto Soares, interior da Bahia, mora em São Paulo há 8 anos e ainda
                                    tenta se acostumar com a grande agitação da cidade paulista. Ama jogar bola e ama se
                                    conectar com a natureza.

                                    <div class="d-flex justify-content-around">
                                        <a href="https://www.linkedin.com/in/cleiton-souza-andrade" target="_blank">
                                            <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                                        </a>

                                        <a href="https://github.com/Cleiton7" target="_blank">
                                            <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0 d-flex align-items-center">
                                    <span class=" equipebeatrizcarvalho97 my-auto rounded-lg"></span>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Beatriz Carvalho da Costa
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Sou uma garota que não para! Sou alguém determinada e que busca ver sempre o lado
                                    positivo das situações da vida. Monotonia não combina comigo, sou alguém que esta em
                                    constante busca por desafios e aprendizados! Desde criança sonho em impactar a vida
                                    das pessoas e sei que estou no caminho certo para tornar isso real. Desde o momento
                                    em que conheci o mundo da programação, ele tem roubado meu coração.

                                    <div class="d-flex justify-content-around">
                                        <a href="https://www.linkedin.com/in/beatrizcarvalhodacosta" target="_blank">
                                            <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                                        </a>

                                        <a href="https://github.com/beatrizcarvalho97" target="_blank">
                                            <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0 d-flex align-items-center">
                                    <span class="equipeHgPBrito my-auto rounded-lg"></span>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Hugo Pereira de Brito
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Sou um nerd que se encontrou na área da tecnologia e desenvolvimento, desde então
                                    amo o que faço, me dedico a aprender, e nas horas de lazer gosto de estar com a
                                    família e jogar uma boa aventura de RPG de mesa.

                                    <div class="d-flex justify-content-around">
                                        <a href="https://www.linkedin.com/in/hgpbrito" target="_blank">
                                            <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                                        </a>

                                        <a href="https://github.com/HgPBrito" target="_blank">
                                            <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>