<!-- usado bootstrap para o layaut e estilização  -->
<footer class="container-fluid py-2 px-4 rodape m-0">
    <a class="logo my-2 navbar-brand mx-auto" routerLink='/home'></a>
    <nav class="navbar navbar-expand-lg text-dark bg-light rounded-lg px-5 w-100 d-flex justify-content-between">
        <div class="row w-100 d-flex justify-content-center  align-items-stretch">

            <div class="col-md-3 d-flex flex-column align-items-center p-1 justify-content-start mb-4">
                <h5>Institucional</h5>
                <a class=" nav-link" routerLink='home'>Home</a>
                <a class="nav-link" routerLink='produtos'>Produtos</a>
                <a class="nav-link text-center" routerLink='sobre'>Sobre nós</a>
                <a class="nav-link text-center" data-toggle="modal" data-target="#exampleModalCenter">Conheça a
                    Equipe</a>

            </div>
            <div class="col-md-3 d-flex flex-column align-items-center text-center mb-4">
                <h5>Centro de atendimento</h5>
                <a class="nav-link" routerLink='faq'>FAQ</a>
                <a class="nav-link text-center" routerLink='politica'>Política de Troca e Devolução</a>
                <a class="nav-link" routerLink='contato'>Contato</a>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center mb-4">
                <h5 class="text-center">Formas de pagamento</h5>
                <span class="formas-pagamento ml-4"></span>
            </div>
            <div class="col-md-2 d-flex flex-column  align-items-center mb-4">
                <h5>Acompanhe</h5>
                <div class="d-flex justify-content-around redes-sociais">
                    <a href="https://www.instagram.com/" target="_blank">
                        <fa-icon [icon]="faInstagram" class="fa-2x"></fa-icon>
                    </a>

                    <a href="https://www.facebook.com/" class="ml-2 mr-2" target="_blank">
                        <fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon>
                    </a>

                    <a href="https://twitter.com/explore" target="_blank">
                        <fa-icon [icon]="faTwitter" class="fa-2x"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="footer-copyright text-center mt-2 py-1 ">
        <span class="text-dark"> © 2020 Copyright - </span>
        <a class="text-dark" href="https://brasil.generation.org" target="blank">brasil.generation.org</a>
    </div>

</footer>