.rodape, .card-header{
    background-color: #8BBA34; 
    font-family: 'Comfortaa', cursive;     
}

.logo{
    background-image: url("../../assets/logos/logo_aberto_branco.png");

    min-height: 50px;
    min-width: 125px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px 125px;
}
.logo:hover{
    background-image: url("../../assets/logos/logo_aberto_preto.png");

    min-height: 50px;
    min-width: 125px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px 125px;
}

a,p,.footer-copyright {
    
    font-size: 14px;
    color: rgba(0,0,0,.7);
}

h5, h3,.card-body, a:hover{
    color: #658726;
    
}

.formas-pagamento{
    background-image: url("../../assets/images/formas-pagamento.png");
    min-height: 140px;
    min-width: 350px;   
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: 350px 175px;
}

.redes-sociais a:nth-of-type(1):hover {
    color: rgb(225,48,108);
}

.redes-sociais a:nth-of-type(2):hover {
    color: #45619d;
}

.redes-sociais a:nth-of-type(3):hover {
    color:rgb(29, 161, 242);
}

.redesProf a:nth-of-type(1):hover{
    color: #000000;
}
.redesProf  a:nth-of-type(2):hover {
    color: #0073b1;
}

.btn{
    color: #ffffff;
    font-weight: 900;
    box-shadow: none !important;
}

.equipeEstevamboccuggi{
    border:solid 5px #ffffff;
    background-image: url("../../assets/equipe/Estevamboccuggi.jpeg");

    min-height: 100px;
    min-width: 100px;   
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100px 130px;
}

.equipeRafaela1997{
    border:solid 5px #ffffff;
    background-image: url("../../assets/equipe/Rafaela1997.jpeg");

    min-height: 100px;
    min-width: 100px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.equipeCleiton7{
    border:solid 5px #ffffff;
    background-image: url("../../assets/equipe/Cleiton7.jpeg");

    min-height: 100px;
    min-width: 100px;   
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100px 130px;
}

.equipebeatrizcarvalho97{
    border:solid 5px #ffffff;
    background-image: url("../../assets/equipe/beatrizcarvalho97.jpeg");

    min-height: 100px;
    min-width: 100px;   
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100px 130px;
}

.equipeHgPBrito{
    border:solid 5px #ffffff;
    background-image: url("../../assets/equipe/HgPBrito.jpg");

    min-height: 100px;
    min-width: 100px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

a{
    cursor: pointer;
}