<section class=" height-min container-fluid">
    <div class="contato justify-content-center">
        <div class="row mt-5">
            <div class="col-md-6 w-75">
                <ul class="list-group list-group-flush">
                    <h2 class="list-group-item">Contato</h2>
                    <li class="list-group-item  d-flex justify-content-betweem align-items-center">
                        sustentamais@email.com.br
                        <fa-icon [icon]="faEnvelopeOpenText" class="fa-2x"></fa-icon>
                    </li>
                    <li class="list-group-item d-flex justify-content-betweem align-items-center">(11) 5562-8276
                        <fa-icon [icon]="faPhoneSquare" class="fa-2x"></fa-icon>
                    </li>
                    <li class="list-group-item  d-flex justify-content-betweem align-items-center">(11) 96653-7211
                        <fa-icon [icon]="faWhatsapp" class="fa-2x"></fa-icon>
                    </li>
                    <li class="list-group-item d-flex justify-content-betweem align-items-center">@sustentamais
                        <fa-icon [icon]="faInstagram" class="fa-2x"></fa-icon>
                    </li>
                    <li class="list-group-item  d-flex justify-content-betweem align-items-center">Sustenta Mais
                        <fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-md-6 d-flex w-75">
            <ul class="list-group list-group-flush">
                <h2 class="list-group-item">Endereço</h2>
                <li class="list-group-item">Rua Tito, Nº 56, Lapa</li>
                <iframe class="list-group-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.139281633012!2d-46.69323623384145!3d-23.52769499322497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8775663b04f%3A0x923835e9005f8309!2sSenac%20Lapa%20Tito!5e0!3m2!1spt-BR!2sbr!4v1583944507549!5m2!1spt-BR!2sbr"
                    width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </ul>
        </div>
    </div>
</section>