section {
    background-color: rgba(0, 0, 0, .04);
}

.faq-titulo {
    color: #8BBA34;
}

.faq-perguntas {
    background-color: #8BBA34;
    min-height: fit-content;
}

.faq-texto{
    align-items: center;
}

.faq-perguntas > h2 > button {
    color: #FFF;
    text-align: center;
}

.titulo {
    color: #000;
}

@media(max-width:767px){

.faq-perguntas{
    justify-content: center;
}
}
