<section>
    <div class="faq height-min container pb-5 pt-5 d-flex flex-column align-items-center">
        <h2 class="faq-titulo text-center mb-5">Perguntas frequentes</h2>
        <div class="accordion col-md-10" id="accordionExample">
            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingOne">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link titulo" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            A Sustenta Mais possui loja física?
                        </button>
                    </h2>
                </div>
    
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        Não, até o momento contamos apenas com a loja online, porém estamos estudando a possibilidade da abertura de lojas físicas.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Quem pode comprar da Sustenta Mais?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        Nossos produtos podem ser adquiridos por pessoas comuns e empresas que se preocupam com a preservação de nosso planeta.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            A Sustenta Mais produz produtos biodegradáveis?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        Não, nossa empresa conecta você, nosso usuário com nossos parceiros que produzem estes produtos. Em poucas palavras, oferecemos uma interface amigável entre o cliente e a empresa.
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Como posso me tornar parceiro da Sustenta Mais?
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        A Sustenta Mais está sempre a procura de novos parceiros e caso você tenha interesse em expor seus produtos em nossa loja, você pode entrar em contato com o nosso time responsável e eles te darão todo o suporte necessário para que tudo dê certo.
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                            Preciso de um cadastro para realizar uma compra?
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        Sim, para realização de suas compras, precisamos que você esteja cadastrado em nosso sistema e inclua informações sobre nome, contato (email e telefone), endereço e forma de pagamento para que o processo de compra seja concluído! Mas fique tranquilo, estes dados estão seguros com a gente e para entender melhor, você pode visitar a nossa “Política de privacidade”.
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                            Como realizo uma compra pelo site?
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        Caso você seja um usuário novo no site, o primeiro passo é fazer o cadastro na nossa plataforma e então logar com seu email e senha. Feito isso, você pode selecionar o(s) produto(s) e a quantidade desejada e então adicionar o(s) item (ns) ao seu carrinho de compra. Após esta etapa, serão solicitado endereço de entrega e a forma de pagamento, feito isso seu pedido foi realizado e você deverá aguardar nosso email, confirmando seu pagamento. Enfim, depois deste email, só basta você aguardar a entrega de seu produto.
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                            Por que adquirir os produtos da Sustenta Mais?
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        A Sustenta Mais se preocupa com o futuro de nosso planeta e acreditamos que diversas pessoas partilham deste sentimento. Se você também se identifica com nossa preocupação, nossos produtos são indicados para você.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="faq-perguntas card-header pergunta-box d-flex align-items-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="faq-texto btn btn-link collapsed titulo" type="button" data-toggle="collapse"
                            data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                            Comprei um produto da Sustenta Mais, porém o mesmo está danificado. Posso solicitar a troca?
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="faq-texto card-body text-justify">
                        Com certeza! Os nossos parceiros produzem cada produto com um rigoroso controle de qualidade, porém ocorrer problemas quanto ao armazenamento e entrega dos produtos, mas independentemente, nossos parceiros estão dispostos a realizar o processo de compra, conforme estabelecido pelo CDC (Código de Defesas do Consumidor). Para nos contatar sobre o ocorrido, basta acessar a seção “Fale Conosco”, estaremos a disposição para solucionar seu problema.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>