<section class="container mb-5">
    <h1 class="sobre-titulo text-center p-5 p-5">Sobre nós</h1>
    <div class="sobre-nos-texto">
        <img src="assets/images/quem-somos.png" alt="">
        <p class="sobre-texto text-justify">
            Somos uma empresa criada pelos desenvolvedores da Generation, com a intenção de equilibrar o
            impacto no meio-ambiente causado pelo uso de produtos não renováveis, com o intuíto de cuidar do nosso planeta. Surgimos no ano de 2020 depois de uma reunião entre os membros do time, afim de buscar soluções para o mercado.
        </p>
    </div>
</section>

<section class="parallax pt-5 pb-5 d-flex justify-content-center">
    <div class="parallax-card_missao parallax-card">
        <h2 class="text-center sobre-titulo">Missão</h2>
        <div class="parallax-card_missao_img">
            <img src="assets/logos/meta.png">
        </div>
        <div class="pt-4">
            <p class="sobre-texto text-justify">
                A Sustenta Mais foi criada para promover o consumo sustentável entre as pessoas, para isso comercializamos produtos biodegradaveis a fim de diminuir o impacto das ações humanas
                frente ao planeta.
            </p>
        </div>
    </div>

    <div class="parallax-card_valor parallax-card">
        <h2 class="text-center sobre-titulo">Valores</h2>
        <div class="parallax-card_valor_img">
            <img src="assets/logos/valores.png">
        </div>
        <div class="pt-4">
            <p class="sobre-texto text-justify">
                A Sustenta Mais assume o compromisso de contribuir para a preservação dos recursos naturais presentes no planeta, buscando assim um futuro melhor para a gerações que vierem
            </p>
        </div>
    </div>

    <div class="parallax-card_visao parallax-card">
        <div>
            <h2 class="text-center sobre-titulo">Visão</h2>
            <div class="parallax-card_visao_img">
                <img src="assets/logos/visao.png">
            </div>
        </div>
        <div class="parallax-card_texto">
            <p class="sobre-texto text-justify">
                A Sustenta Mais tem como objetivo tornar o ser humano consciente dos seus atos e
                como eles impactam o planeta em que vivemos!
            </p>
        </div>
    </div>
    
</section>