<div class="container">

    <div class="form-menu form-inline justify-content-center align-items-center my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
        <button class="btn-sustenta p-0" type="button">
            <div class="mx-1 lupa"></div>
        </button>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mt-5">
        <div class="col" *ngFor="let produtos of listaProduto">
            <div class="card card-sustenta mb-3">
                <div class="card-header">
                    <img class="card-img-top" src={{produtos.imagem}} alt="Produto á venda">
                </div>
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <span class="form-text m-0 text-muted mb-3 text-monospace">{{produtos.nome}}</span>
                    <span>{{produtos.preco | currency:'R$ '}}</span>
                    <span>Estoque: {{produtos.quantidade}}</span>
                </div>
            </div>
        </div>
    </div>
</div>