.btn-admin,
.btn-ver {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.btn-editar {
    margin-right: 5px;
}

.btn-apagar {
    margin-left: 5px;
}

.btn-ver .btn-sustenta {
    margin-top: 5px;
    width: 80%;
}

.card-sustenta{
    min-height: 412px;
}

.card-header{
    max-height: 181px;
    min-height: 181px;
}

.card-body{
    min-height: 200px;
    max-height: 200px;
}

.lupa{
    background-image: url("../../assets/logos/lupa_preta.png");

    min-height: 33px;
    min-width: 33px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lupa:hover{
    background-image: url("../../assets/logos/lupa_verde.png");

    min-height: 33px;
    min-width: 33px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:991px){

    .card-sustenta,
    .card-header,
    .card-img-top {
        max-height: fit-content;
        flex-wrap: wrap;
    }

    .form-pesquisa{
        margin-top: 2.5rem;
    }

    .btn-sustenta{
        margin-top: 2.5rem;
    }
}

@media (max-width:574px){

    .form-menu{
        display: flex;
        flex-wrap: nowrap;
        justify-items: space-around;
    }

    .form-pesquisa{
        max-width: 450px;
        margin-right: 10px;
    }

    .card-sustenta,
    .card-header,
    .card-img-top {
        max-height: fit-content;
        flex-wrap: wrap;
    }
}