<div class="container">

    <div class="form-menu form-inline justify-content-center align-items-center my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
        <button class="btn-sustenta p-0" type="button">
            <div class="mx-1 lupa"></div>
        </button>
    </div>


    <div class="card mb-5 mt-5" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title">Nome</h5>
            <p class="card-text">Preço</p>
            <p class="card-text">Descrição</p>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>